*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* other color combo --> #111379f3,#810c0cc0 */
    background-image: linear-gradient( to bottom right, #35cc80f3,#1dadb898), url("https:WhatsApp Image 2024-02-23 at 21.29.08_45cb1e43");
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #eee;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theam-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #eee;
    cursor: pointer;
    z-index: 1;
}

.theam-toggler.active{
    color: #000;
}

.theam-toggler.active::before{
    background-color: #eee;
    background-image: url("./moon-icon.png");
    background-size: 30px;
}

.theam-toggler::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
    background-image: url("./sun-icons.jpg");
    background-size: 30px;
}

#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
    border-bottom: groove;
}

#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 28px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover{
    transform: scale(1.1);
}

button#equal{
    height: 130px;
}

/* light theam */

.calculator{
    background-color: #eee;
}

.calculator #display{
    color: #0a1e23;
}

.calculator button#clear{
    background-color: #ffa8a8;
    color: #ff0000;
}

.calculator button.number-btn{
    background-color: #9adcff;
    color: #000;
}

.calculator button.operator-btn{
    background-color: #fab891;
    color: #070042;
}
  
.calculator button.equal-btn{
    background-color: #ff8c4a;
    color: #000;
}

  /* dark theam */

.calculator.dark{
    background-color: #071115;
}

.calculator.dark .theam-toggler.icon-sun{
    display: none;
}

.calculator.dark #display{
    color: #f8fafb;
}

.calculator.dark button#clear{
    background-color: #4d2b2b;
    color: #ff0000;
}

.calculator.dark button.number-btn{
    background-color: #223d49;
    color: #f8fafb;
}

.calculator.dark button.operator-btn{
    background-color: #8b360e;
    color: #eee;
}
  
.calculator.dark button.equal-btn{
    background-color: #9c3100;
    color: #eee;
}  